USE [master]
GO
/****** Object:  Database [TrainTicketDatabase]    Script Date: 03-Jan-21 6:32:09 PM ******/
CREATE DATABASE [TrainTicketDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainTicketDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrainTicketDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainTicketDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrainTicketDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainTicketDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainTicketDatabase]
GO
/****** Object:  User [hoang]    Script Date: 03-Jan-21 6:32:09 PM ******/
CREATE USER [hoang] FOR LOGIN [hoang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carriage]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriage](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[TrainID] [int] NULL,
 CONSTRAINT [PK_Carriage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Passport] [nvarchar](50) NULL,
	[RepresentativeID] [int] NOT NULL,
	[TypeObjectID] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Representative]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Representative](
	[ID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Passport] [nvarchar](50) NULL,
	[TotalCost] [float] NULL,
	[Name] [nvarchar](max) NULL,
	[DateBooking] [date] NULL,
 CONSTRAINT [PK_Representative] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID] [int] NOT NULL,
	[DateDeparture] [datetime] NULL,
	[TimeDeparture] [time](7) NULL,
	[TrainID] [int] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleDetail]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetail](
	[ID] [int] NOT NULL,
	[ScheduleID] [int] NULL,
	[DepartureStationID] [int] NULL,
	[ArrivalStationID] [int] NULL,
	[Length] [int] NULL,
	[Time] [float] NULL,
	[StartTime] [time](7) NULL,
 CONSTRAINT [PK_ScheduleDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[ID] [int] NOT NULL,
	[CarriageID] [int] NULL,
	[SeatTypeID] [int] NULL,
	[SeatNumber] [int] NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[ID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[CostPerKm] [int] NULL,
 CONSTRAINT [PK_SeatType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Location] [nvarchar](max) NULL,
	[Distance] [int] NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableCost]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCost](
	[ScheduleID] [int] NOT NULL,
	[SeatTypeID] [int] NOT NULL,
	[Cost] [float] NOT NULL,
 CONSTRAINT [PK_TableCost] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC,
	[SeatTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [bigint] NOT NULL,
	[CustomerID] [int] NULL,
	[SeatID] [int] NULL,
	[Price] [float] NULL,
	[DepartureDate] [datetime] NULL,
	[DepartureTime] [datetime] NULL,
	[Status] [smallint] NULL,
	[TrainName] [nvarchar](50) NULL,
	[DepartureStationID] [int] NULL,
	[ArrivalStationID] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeObject]    Script Date: 03-Jan-21 6:32:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeObject](
	[ID] [int] NOT NULL,
	[TypeObjectName] [nvarchar](50) NULL,
	[Discount] [nchar](10) NULL,
 CONSTRAINT [PK_TypeObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (1, N'Toa01', 1)
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (3, N'Toa03', 1)
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (4, N'Toa01', 2)
GO
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (1, N'Lê Hoàng', N'123456789', 1, 1)
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (11111, N'Lê Hoàng', N'123456789', 4, 2)
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (498362, N'Hoàng Lê', N'225905812', 1735972, 3)
GO
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (1, N'lehoang4598@gmail.com', N'123456789', N'123456789', 300000, NULL, NULL)
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (4, N'lehoang4598@gmail.com', N'3664338283', N'123456789', 150000, N'Lê Hoàng', NULL)
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (51, N'lehoang4598@gmail.com', N'3664338283', N'123456789', 150000, N'Lê Hoàng', NULL)
GO
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (55897648, CAST(N'2021-01-31T00:00:00.000' AS DateTime), CAST(N'06:00:00' AS Time), 1)
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (104656430, CAST(N'2020-12-29T00:00:00.000' AS DateTime), CAST(N'06:00:00' AS Time), 3)
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (109304526, CAST(N'2021-01-15T00:00:00.000' AS DateTime), CAST(N'07:30:00' AS Time), 2)
GO
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (16594256, 399056381, 39, 30, 524, 8.73, CAST(N'12:51:00' AS Time))
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (17345979, 332815985, 39, 1, 1315, 21.92, CAST(N'12:51:00' AS Time))
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (22911184, 232146368, 30, 1, 791, 13.18, CAST(N'21:35:00' AS Time))
GO
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (3, 1, 1, 3)
GO
INSERT [dbo].[SeatType] ([ID], [TypeName], [CostPerKm]) VALUES (1, N'Nằm Khoang 4', 850)
INSERT [dbo].[SeatType] ([ID], [TypeName], [CostPerKm]) VALUES (2, N'Ghế Mềm', 600)
INSERT [dbo].[SeatType] ([ID], [TypeName], [CostPerKm]) VALUES (3, N'Ghế Cứng', 500)
GO
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (1, N'Hà Nội', NULL, 0)
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (2, N'Thường Tín', NULL, 18)
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (3, N'Phú Xuyên', NULL, 34)
GO
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (16594256, 1, 445400)
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (16594256, 2, 314400)
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (16594256, 3, 262000)
GO
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (3018324, 9637705, 169, 1026970, CAST(N'2021-01-15T00:00:00.000' AS DateTime), CAST(N'1970-01-01T07:30:00.000' AS DateTime), 1, N'SE2', 1, 53)
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (3875460, 20830509, 113, 724920, CAST(N'2021-12-31T00:00:00.000' AS DateTime), CAST(N'1970-01-01T06:00:00.000' AS DateTime), 1, N'SE3', 53, 1)
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (4652268, 5225599, 115, 172620, CAST(N'2020-12-28T00:00:00.000' AS DateTime), CAST(N'1970-01-01T06:00:00.000' AS DateTime), 2, N'SE3', 53, 39)
GO
INSERT [dbo].[Train] ([ID], [Name]) VALUES (1, N'SE3')
INSERT [dbo].[Train] ([ID], [Name]) VALUES (2, N'SE2')
INSERT [dbo].[Train] ([ID], [Name]) VALUES (3, N'SE5')
GO
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName], [Discount]) VALUES (1, N'Trẻ Em', N'1         ')
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName], [Discount]) VALUES (2, N'Người Lớn', N'0         ')
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName], [Discount]) VALUES (3, N'Sinh Viên', N'0.3       ')
GO
ALTER TABLE [dbo].[Carriage]  WITH CHECK ADD  CONSTRAINT [FK_Carriage_Train1] FOREIGN KEY([TrainID])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Carriage] CHECK CONSTRAINT [FK_Carriage_Train1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Representative] FOREIGN KEY([RepresentativeID])
REFERENCES [dbo].[Representative] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Representative]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_TypeObject] FOREIGN KEY([TypeObjectID])
REFERENCES [dbo].[TypeObject] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_TypeObject]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Train] FOREIGN KEY([TrainID])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Train]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Schedule]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Station] FOREIGN KEY([DepartureStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Station]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Station1] FOREIGN KEY([ArrivalStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Station1]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Carriage] FOREIGN KEY([CarriageID])
REFERENCES [dbo].[Carriage] ([ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Carriage]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_SeatType] FOREIGN KEY([SeatTypeID])
REFERENCES [dbo].[SeatType] ([ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_SeatType]
GO
ALTER TABLE [dbo].[TableCost]  WITH CHECK ADD  CONSTRAINT [FK_TableCost_ScheduleDetail] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[ScheduleDetail] ([ID])
GO
ALTER TABLE [dbo].[TableCost] CHECK CONSTRAINT [FK_TableCost_ScheduleDetail]
GO
ALTER TABLE [dbo].[TableCost]  WITH CHECK ADD  CONSTRAINT [FK_TableCost_SeatType] FOREIGN KEY([SeatTypeID])
REFERENCES [dbo].[SeatType] ([ID])
GO
ALTER TABLE [dbo].[TableCost] CHECK CONSTRAINT [FK_TableCost_SeatType]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Customer]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Station] FOREIGN KEY([DepartureStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Station]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Station1] FOREIGN KEY([ArrivalStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Station1]
GO
USE [master]
GO
